{% extends "layout.html" %}

<body>
    {% block content %}
        <div class="detail_container">
            <h1 style="margin-bottom: 20px;">เลือกมื้ออาหาร</h1>

            <div class="detail_content" style="width: 100%">
                <div class="meal_box">
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">มื้ออาหาร</p>
                        <p style="height: 48px; display: flex; align-items: center;">เช้า</p>
                    </div>
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">ประเภทอาหาร</p>
                        <div class="dropdown" id="foodCategory3">
                            <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                <p style='font-family: "Kanit", serif;'>เลือกประเภทอาหาร</p>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown__list">
                                <li class="dropdown__item" data-value="">ทั้งหมด</li>
                                <li class="dropdown__item" data-value="น้ำพริก">น้ำพริก</li>
                                <li class="dropdown__item" data-value="ยำ">ยำ</li>
                                <li class="dropdown__item" data-value="อาหารอีสาน">อาหารอีสาน</li>
                                <li class="dropdown__item" data-value="ต้ม">ต้ม</li>
                                <li class="dropdown__item" data-value="ผัด">ผัด</li>
                                <li class="dropdown__item" data-value="แกง">แกง</li>
                                <li class="dropdown__item" data-value="นึ่ง">นึ่ง</li>
                                <li class="dropdown__item" data-value="ย่าง">ย่าง</li>
                                <li class="dropdown__item" data-value="ทอด">ทอด</li>
                            </ul>
                            <input type="hidden" id="food_category3" name="food_category" required>
                        </div>
                    </div>
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">เมนูอาหาร</p>
                        <div class="dropdown" id="foodMenu">
                            <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                <p style='font-family: "Kanit", serif;'>เลือกเมนูอาหาร</p>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown__list" id="ul_foodMenu"></ul>
                            <input type="hidden" id="foodMenu" name="food_menu" required>
                        </div>
                    </div>
                    <div class="meal_col">
                        <p class="column_text">ข้าว</p>
                        <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; padding: 0 20px;">
                            <div class="dropdown" id="rice_list1">
                                <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                    <p style='font-family: "Kanit", serif;'>ข้าว</p>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown__list">
                                    <li class="dropdown__item" data-value="ข้าวสวย">ข้าวสวย</li>
                                    <li class="dropdown__item" data-value="ข้าวเหนียว">ข้าวเหนียว</li>
                                    <li class="dropdown__item" data-value="ข้าวกล้อง">ข้าวกล้อง</li>
                                    <li class="dropdown__item" data-value="ขนมจีน">ขนมจีน</li>
                                    <li class="dropdown__item" data-value="เส้นหมี่">เส้นหมี่</li>
                                    <li class="dropdown__item" data-value="ขนมปัง">ขนมปัง</li>
                                </ul>
                                <input type="hidden" id="input_rice_list1" name="food_menu" required>
                            </div>
                            <div class="login_form">
                                <input style="margin: 0; height: 45px;" type="text" id="rice_amount1" name="rice_amount" placeholder="จำนวน" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meal_box">
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">มื้ออาหาร</p>
                        <p style="height: 48px; display: flex; align-items: center;">กลางวัน</p>
                    </div>
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">ประเภทอาหาร</p>
                        <div class="dropdown" id="foodCategory4">
                            <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                <p style='font-family: "Kanit", serif;'>เลือกประเภทอาหาร</p>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown__list">
                                <li class="dropdown__item" data-value="">ทั้งหมด</li>
                                <li class="dropdown__item" data-value="น้ำพริก">น้ำพริก</li>
                                <li class="dropdown__item" data-value="ยำ">ยำ</li>
                                <li class="dropdown__item" data-value="อาหารอีสาน">อาหารอีสาน</li>
                                <li class="dropdown__item" data-value="ต้ม">ต้ม</li>
                                <li class="dropdown__item" data-value="ผัด">ผัด</li>
                                <li class="dropdown__item" data-value="แกง">แกง</li>
                                <li class="dropdown__item" data-value="นึ่ง">นึ่ง</li>
                                <li class="dropdown__item" data-value="ย่าง">ย่าง</li>
                                <li class="dropdown__item" data-value="ทอด">ทอด</li>
                            </ul>
                            <input type="hidden" id="food_category3" name="food_category" required>
                        </div>
                    </div>
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">เมนูอาหาร</p>
                        <div class="dropdown" id="foodMenu2">
                            <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                <p style='font-family: "Kanit", serif;'>เลือกเมนูอาหาร</p>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown__list" id="ul_foodMenu2"></ul>
                            <input type="hidden" id="foodMenu" name="food_menu" required>
                        </div>
                    </div>
                    <div class="meal_col">
                        <p class="column_text">ข้าว</p>
                        <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; padding: 0 20px;">
                            <div class="dropdown" id="rice_list2">
                                <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                    <p style='font-family: "Kanit", serif;'>ข้าว</p>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown__list">
                                    <li class="dropdown__item" data-value="ข้าวสวย">ข้าวสวย</li>
                                    <li class="dropdown__item" data-value="ข้าวเหนียว">ข้าวเหนียว</li>
                                    <li class="dropdown__item" data-value="ข้าวกล้อง">ข้าวกล้อง</li>
                                    <li class="dropdown__item" data-value="ขนมจีน">ขนมจีน</li>
                                    <li class="dropdown__item" data-value="เส้นหมี่">เส้นหมี่</li>
                                    <li class="dropdown__item" data-value="ขนมปัง">ขนมปัง</li>
                                </ul>
                                <input type="hidden" id="input_rice_list2" name="food_menu" required>
                            </div>
                            <div class="login_form">
                                <input style="margin: 0; height: 45px;" type="text" id="rice_amount2" name="rice_amount" placeholder="จำนวน" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meal_box">
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">มื้ออาหาร</p>
                        <p style="height: 48px; display: flex; align-items: center;">เย็น</p>
                    </div>
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">ประเภทอาหาร</p>
                        <div class="dropdown" id="foodCategory5">
                            <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                <p style='font-family: "Kanit", serif;'>เลือกประเภทอาหาร</p>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown__list">
                                <li class="dropdown__item" data-value="">ทั้งหมด</li>
                                <li class="dropdown__item" data-value="น้ำพริก">น้ำพริก</li>
                                <li class="dropdown__item" data-value="ยำ">ยำ</li>
                                <li class="dropdown__item" data-value="อาหารอีสาน">อาหารอีสาน</li>
                                <li class="dropdown__item" data-value="ต้ม">ต้ม</li>
                                <li class="dropdown__item" data-value="ผัด">ผัด</li>
                                <li class="dropdown__item" data-value="แกง">แกง</li>
                                <li class="dropdown__item" data-value="นึ่ง">นึ่ง</li>
                                <li class="dropdown__item" data-value="ย่าง">ย่าง</li>
                                <li class="dropdown__item" data-value="ทอด">ทอด</li>
                            </ul>
                            <input type="hidden" id="food_category3" name="food_category" required>
                        </div>
                    </div>
                    <div class="meal_col" style="border-right: 2px solid #ccc;">
                        <p class="column_text">เมนูอาหาร</p>
                        <div class="dropdown" id="foodMenu3">
                            <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                <p style='font-family: "Kanit", serif;'>เลือกเมนูอาหาร</p>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown__list" id="ul_foodMenu3"></ul>
                            <input type="hidden" id="foodMenu" name="food_menu" required>
                        </div>
                    </div>
                    <div class="meal_col">
                        <p class="column_text">ข้าว</p>
                        <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; padding: 0 20px;">
                            <div class="dropdown" id="rice_list3">
                                <button style='font-family: "Kanit", serif;' class="dropdown__btn" id="foodCategory">
                                    <p style='font-family: "Kanit", serif;'>ข้าว</p>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown__list">
                                    <li class="dropdown__item" data-value="ข้าวสวย">ข้าวสวย</li>
                                    <li class="dropdown__item" data-value="ข้าวเหนียว">ข้าวเหนียว</li>
                                    <li class="dropdown__item" data-value="ข้าวกล้อง">ข้าวกล้อง</li>
                                    <li class="dropdown__item" data-value="ขนมจีน">ขนมจีน</li>
                                    <li class="dropdown__item" data-value="เส้นหมี่">เส้นหมี่</li>
                                    <li class="dropdown__item" data-value="ขนมปัง">ขนมปัง</li>
                                </ul>
                                <input type="hidden" id="input_rice_list3" name="food_menu" required>
                            </div>
                            <div class="login_form">
                                <input style="margin: 0; height: 45px;" type="text" id="rice_amount3" name="rice_amount" placeholder="จำนวน" required>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="profile_save_btn" id="his_submit_btn">เลือกเมนูอาหาร</button>
            </div>
        </div>
    {% endblock %}
</body>